.agents{
  position: relative;

  .background{
    background: url('../../assets/images/all-agents.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container{
    width: 70%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    border-left: 1px solid #0f1923;
    border-right: 1px solid #0f1923;
  }

  .agentsImg{
    width: 100%;
    height: auto;
  }
  .agentsTitle{
    position: absolute;
    color: white;
    font-size: 60px;
    top: 55px;
    font-weight: 900;
    left: 6%;
  }
}