.container{
  width: 80%;
  margin: 0 auto;
  border: 1px solid #0f1923;

  h1{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    padding-top: 20px;
    background: linear-gradient(to right, #f53232 0%, #340404 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mapList{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}