.container{
  width: 70%;
  margin: 0 auto;
  @media (max-width: 653px) {
    width: 80%;
  }
}

.background{
  z-index: 0;
  position: relative;
  width: 100%;
  height: calc(100vh - 95px);
  background: rgb(250,68,84);
  background: linear-gradient(90deg, rgba(250,68,84,1) 0%, rgba(15,25,35,1) 100%);

  .headerTitle{
    padding-top: 30vh;
    text-align: center;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @keyframes floating {
      0% { transform: translate(0,  0px); }
      50%  { transform: translate(0, 15px); }
      100%   { transform: translate(0, -0px); }
    }
    h1{
      color: white;
      font-size: 50px;
      font-weight: 700;
    }
    h6{
      color: white;
      font-size: 20px;
    }
  }

  .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../../assets/images/Vector.png');
    background-size: 1000px 100px;
  }

  .wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  .wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
  }
  .wave3{
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.1;
    animation-delay: -2s;
    bottom: 15px;
  }
  .wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 20px;
  }
  @keyframes animate {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: 1000px;
    }
  }
  @keyframes animate2 {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: -1000px;
    }
  }
}

.header{
  font-size: 30px;
  box-sizing: border-box;
  height: 550px;
  background: linear-gradient(300deg,#0f1923,#fa4454,#0f1923);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1140px) {
      padding-top: 50px;
      flex-direction: column;
      text-align: center;
    }
    .title{
      h1{
        font-size: 80px;
        font-weight: 900;
      }
      color: white;
      font-size: 40px;

      .text{
        font-size: 15px;
        width: 500px;
      }
    }

    .agentsHeader{
      margin-top: 100px;
      @media (max-width: 1140px) {
        margin-top: 50px;
      }
      img{
        @media (max-width: 1140px) {
          width: 300px;
        }
      }
    }
  }
}

.description{
  margin-top: 100px;

  .valorant{
    h1{
      font-size: 50px;
      font-weight: 900;
      background: linear-gradient(to right, #f53232 0%, #340404 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p{
      margin-top: 20px;
      width: 80%;
      font-size: 20px;
      color: gray;
      @media (max-width: 624px) {
        width: 100%;
      }
    }
    .gameplayImg{
      margin-top: 50px;

      img {
        @media (max-width: 760px) {
          width: 400px;
        }
        @media (max-width: 684px) {
          width: 300px;
        }
        border: 2px solid #cc1111;
        object-fit: contain;
        padding: 10px;
      }
    }
  }
  .agents{
    margin-top: 80px;
    h1{
      font-size: 50px;
      font-weight: 900;
      background: linear-gradient(to right, #f53232 0%, #340404 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .agentsInfo{
      display: flex;
      align-items: center;
      @media (max-width: 624px) {
        flex-direction: column;
        gap: 50px;
      }

      .agentsText{
        h1{
          font-size: 70px;
          font-weight: 900;
          background: linear-gradient(to right, #f53232 0%, #340404 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p{
          margin-top: 20px;
          margin-bottom: 40px;
          width: 80%;
          font-size: 20px;
          color: gray;
          @media (max-width: 624px) {
            width: 100%;
          }
        }
      }

      .agentImg{

      }
    }
  }

  .episodes{
    margin-top: 100px;
    background-image: url('../../assets/images/sova.webp');
    height: 1080px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;

    .episodesTitle{
      font-size: 30px;
      position: absolute;
      top: 50%;
      right: 10%;
      color: white;

      h1{
        font-weight: 900;
      }

      span{
        font-weight: 600;
      }

      .button {
        margin-top: 50px;
      }
    }
  }
}

.sliderInfo{

  .sliderTitle{
    margin-top: 100px;
    font-size: 70px;
    font-weight: 900;
    background: linear-gradient(to right, #f53232 0%, #340404 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .mapText{
    font-size: 20px;
    color: gray;
    width: 60%;
    margin-top: 20px;
  }
  .mapsButton{

  }
}
.slider{
  margin-top: 20px;
}

