.wrapper{
  background-color: #0f1923;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 100;

  .navbarList{
    display: flex;
    list-style: none;
    justify-content: center;

    .navbarItem{
      padding: 37px 50px 35px 50px;
      cursor: pointer;
      font-size: 20px;
      color: white;
      font-weight: 600;

      &.active{
        background-color: rgba(128, 128, 128, 0.49);
      }

      &:hover{
        background-color: rgba(128, 128, 128, 0.49);
      }
    }

  }

}