.slider{
  position: relative;
  padding-bottom: 100px;

  .mapImg{
    width: calc(100% - 21px);
    height: auto;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #cc1111;
  }

  h1{
    position: absolute;
    z-index: 10;
    color: #EBEDEE;
    top: 10%;
    left: 7%;
    font-size: 70px;
    font-weight: 800;
  }
}



